<%- include('./partials/header.ejs') -%>

    <div class="container">

        <div class="jumbotron">
            <%- include partials/content.ejs %>
          <h1 class="display-4"><%= title %></h1>
      </div>

      <% if(title == 'Component List') { %>
        <%- include('./content/component-list.ejs') -%> 
      <% } else if(title == 'Add Component') { %>
        <%- include('./content/add-component.ejs') -%> 
      <% } else if(title == 'Edit Component') { %>
        <%- include('./content/edit-component.ejs') -%> 
      <% } %>
    </div>
    
<%- include('./partials/footer.ejs') -%>
    

    
